[submodule "External/px_sched"]
	path = External/px_sched
	url = https://github.com/caioteixeira/px_sched.git
[submodule "External/SDL2"]
	path = External/SDL2
	url = https://github.com/caioteixeira/SDL-mirror.git
[submodule "External/EasyProfiler"]
	path = External/EasyProfiler
	url = https://github.com/caioteixeira/easy_profiler.git
[submodule "External/TinyObjLoader"]
	path = External/TinyObjLoader
	url = https://github.com/caioteixeira/tinyobjloader.git
[submodule "External/rapidjson"]
	path = External/rapidjson
	url = https://github.com/caioteixeira/rapidjson.git
[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/caioteixeira/imgui.git
